extends site.pug

block content
  article.h-entry
    h1#top-header
      a.u-url.u-uid.p-name(href=`https://roxwize.xyz/diary/${title}.html`)= title
    em.p-summary= gm.summary
    .e-content
      | !{content}
    p
      footer
        div
          | Published&nbsp;
          time.dt-published(datetime=gm.date)= gm.date
          | &nbsp;by&nbsp;
          img(src="/static/img/logo.png",alt="").u-photo
          a(rel="author",class="h-card p-author",href="https://roxwize.xyz/") &nbsp;roxwize
        div
          | Updated&nbsp;
          time.dt-updated(datetime=gm.updateddate)= gm.updateddate