extends site.pug

block content
  article.h-entry
    h1#top-header
      a.u-url.u-uid.p-name(href=`https://roxwize.xyz/diary/${title}.html`)= title
    em.p-summary= gm.summary
    .e-content
      | !{content}
    p
      footer
        div
          | Published
          time.dt-published(datetime=gm.date)= gm.date
          | by
          a.h-card(rel="author",href="https://roxwize.xyz/")
            img.u-photo(src="/static/img/logo.png",alt="")
            span.p-author roxwize
        div
          | Updated&nbsp;
          time.dt-updated(datetime=gm.updateddate)= gm.updateddate