doctype html
html(lang="en")
  head
    script(type="text/javascript").
      function _reload_theme() {
        // load palette
        let _t = localStorage.rxTheme;
        if (!_t) localStorage.rxTheme = _t = "periwinkle dark";

        const link = document.createElement("link");
        link.type = "text/css";
        link.rel = "stylesheet";
        link.href = `/static/css/theme/t_${_t}.css`;
        link.id = `t-${_t}`;
        document.head.appendChild(link);
      }
      function _set_theme(theme) {
        if (theme === localStorage.rxTheme) return;
        // remove existing theme
        const oldTheme = document.getElementById(`t-${localStorage.rxTheme}`);
        if (oldTheme) oldTheme.remove();
        localStorage.rxTheme = theme;
        _reload_theme();
      }
      _reload_theme();
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.6.1.min.js")
    block head
      meta(name="og:title", content=`${title} <- roxwize`)
      if gm.summary
        meta(name="og:description", content=gm.summary)
      meta(name="theme-color", content="#896498")
      link(rel="stylesheet", href="../static/css/main.css")
      link(rel="webmention", href="https://webmention.io/roxwize.xyz/webmention")
      title #{title} &lt;- roxwize
  body
    #main
      #sidebar
      #content
        if gm.showheader !== false
          h1#top-header #{title}
        block content
          | !{content}

    script(src="/static/js/mw.js")
    script(type="text/javascript").
      $(function(){
        $("#sidebar").load("/site/_nav.html") // Remember to remove `public` when committing
      });
