doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="og:title", content=`${title} <- roxwize`)
    if gm.summary
      meta(name="og:description", content=gm.summary)
    meta(name="theme-color", content="#896498")
    script(src="https://code.jquery.com/jquery-3.6.1.min.js")
    link(rel="stylesheet", href="/static/css/palette.css")
    link(rel="stylesheet", href="/static/css/main.css")
    title #{title} <- roxwize
    block head
  body
    #main
      #sidebar
      #content
        if gm.showheader !== false
          h1#top-header #{title}
        block content
          | !{content}

    script(type="text/javascript").
      $(function(){
        $("#sidebar").load("/site/_nav.html")
      });